@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');


 
.loader {
    position: fixed;
    z-index: 99;
    background:#151414;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.loader span {
    position: relative;

    background: #151414;
    border: 6px solid #151414;
    border-radius: 50%;

    overflow: hidden;
}


.rocket {
    position: absolute;
    inset: 50px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rocket .fa-rocket {
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 3.5em;
    animation: animateRocket 3s linear infinite;
}

@keyframes animateRocket {
    0%,100%{
        transform: translate(0px,0px) rotate(-45deg);
    }
    50%{
        transform: translate(0,9px) rotate(-45deg);
    }
}

.fa-cloud  {
    position: absolute;
    top: calc(50px * var(--i));
    left: calc(95px * var(--i));
    font-size: 2em;
    color: white;
    -webkit-text-stroke: 2px #ffffff;
    animation: animateClouds 10s linear infinite;
    animation-delay: calc(-0.5s * var(--i));
}

@keyframes animateClouds {
    0%{
        transform: translateY(calc(-5 * 5px));
    }
    100%{
        transform: translateY(calc(35 * 2px));
    }
}

.loading {
    color: white;
    font-family: 'Montserrat';
    margin-top: 18rem;
}

@media screen and (min-width: 400px) and (max-width: 480px) {
    .loading {
        margin-top: 10rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 399px) {
    .loading {
        margin-top: 10rem;
    }
}