
.sectio{
    background: #403bef;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    height: auto;
    gap: 3rem;
    width: auto;
    margin: 5%;
    box-shadow: 0 0 30px 0 #403bef;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
}

.tituloExpMain {
    margin-top: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 40vh;
    width: 100%;
    flex-direction: column;
    margin-left: 5%;
}

.expePadreMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.astronautaMain {
    display: flex;
    justify-content: center;
    width: 100%;
}

.astroMain {
    width: 70%;
}

.adquiriHijoMain {
    font-size: 3rem;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    color: white;
    width: 20%;
    font-family: 'Montserrat';
    line-height: 1.4;
}

.adquiriTextoMain {
    width: auto;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1rem;
}

.quienesBotonMain {
    margin-top: 30px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    background-color: #f9c900;
    border: none;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    color: black;
    text-decoration: none;
}

.quienesBotonMain:hover {
    background-color: white;
}


@keyframes astroMain {
    from {
    transform: translateY(-40px);
    }

    to {
    transform: translateY(40px);
    }
} 

.astroMain {
    transition: ease-in;
    animation-duration: 10s;
    animation-name: astroMain;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}








.bienvenida {
    background-color: white;
    height: 10vh;
}

.container-inicio {
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(/public/img/luna-bn-04.png);
    background-size: cover;

}

.containerTitulo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
}

.tituloWeb {
    font-size: 3rem;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    z-index: 1;
    color: white;
    width: 20%;
    position: absolute;
    font-family: 'Montserrat';
    line-height: 1.4;
}

.span {
    border: 2px solid white;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    padding: 4px;
    padding-right: 10px;
}

.contieneImg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-img {
    display: flex;
    width: 90%;
    box-shadow: 0 0 60px 0 rgb(0 0 0);
    align-items: center;
    justify-content: center;
}


.planeta {
    width: 25%;
}

@keyframes planeta {
    from {
    transform: translateY(-70px);
    }

    to {
    transform: translateY(70px);
    }
} 

.planeta {
    transition: ease-in;
    animation-duration: 10s;
    animation-name: planeta;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}


.adquiriPadre {
    margin-top: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.adquiriHijo {
    margin-top: 6%;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
    color: white;
    width: 20%;
    position: absolute;
    font-family: 'Montserrat';
    line-height: 1.4;
}

.spanAdquiri {
    border: 2px solid white;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 7vh;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.adquiriTexto {
    width: auto;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14%;
    font-size: 1rem;
}


/********* QUIENES SOMOS *********/
.section-quienes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.quienesPadre {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.quienesHijo {
    font-size: 3rem;
    align-items:flex-start;
    justify-content:flex-start;
    display: flex;
    color: white;
    width: 20%;
    font-family: 'Montserrat';
}

.spanQuienes {
    border: 2px solid white;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.quienesSomos {
    color: white;
    font-family: 'Montserrat';
    font-size: 2rem;
}

.orden {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 100px;
}

.quienesTexto {
    font-size: 1rem;
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    display: flex;
}

.quienesBoton {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    background-color: #f9c900;
    border: none;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    color: black;
    text-decoration: none;
}

.quienesBoton:hover {
    background-color: antiquewhite;
}

.ovni-padre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vaca {
    width: 15%;
}


@keyframes vaca {
    from {
    transform: translateY(-10px);
    }

    to {
    transform: translateY(10px);
    }
} 

.vaca {
    transition: ease-in-out;
    animation-duration: 2s;
    animation-name: vaca;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

.ovni-img {
    width: 50%;
}


