
.sectio{
    background: #403bef;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    height: auto;
    gap: 3rem;
    width: auto;
    margin: 5%;
    box-shadow: 0 0 30px 0 #403bef;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
}

.tituloExpMain {
    margin-top: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 40vh;
    width: 100%;
    flex-direction: column;
    margin-left: 5%;
}

.expePadreMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.astronautaMain {
    display: flex;
    justify-content: center;
    width: 100%;
}

.astroMain {
    width: 70%;
}

.adquiriHijoMain {
    font-size: 3rem;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    color: white;
    width: 20%;
    font-family: 'Montserrat';
    line-height: 1.4;
}

.adquiriTextoMain {
    width: auto;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1rem;
}

.quienesBotonMain {
    margin-top: 30px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    background-color: #f9c900;
    border: none;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    color: black;
    text-decoration: none;
}

.quienesBotonMain:hover {
    background-color: white;
}


@keyframes astroMain {
    from {
    transform: translateY(-40px);
    }

    to {
    transform: translateY(40px);
    }
} 

.astroMain {
    transition: ease-in;
    animation-duration: 10s;
    animation-name: astroMain;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

.bienvenida {
    background-color: white;
    height: 10vh;
}

.container-inicio {
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(/public/img/luna-bn-04.png);
    background-size: cover;

}

.containerTitulo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
}

.tituloWeb {
    font-size: 4rem;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    z-index: 1;
    color: white;
    width: 20%;
    position: absolute;
    font-family: 'Montserrat';
    line-height: 1.4;
}

.span {
    border: 2px solid white;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    padding: 4px;
    padding-right: 7px;
}

.contieneImg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-img {
    display: flex;
    width: 90%;
    box-shadow: 0 0 60px 0 rgb(0 0 0);
    align-items: center;
    justify-content: center;
}

.planeta {
    width: 25%;
}

@keyframes planeta {
    from {
    transform: translateY(-70px);
    }

    to {
    transform: translateY(70px);
    }
} 

.planeta {
    transition: ease-in;
    animation-duration: 10s;
    animation-name: planeta;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

.adquiriPadre {
    margin-top: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.adquiriHijo {
    margin-top: 6%;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
    color: white;
    width: 20%;
    position: absolute;
    font-family: 'Montserrat';
    line-height: 1.4;
}

.spanAdquiri {
    border: 2px solid white;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 7vh;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 9px;
}

.adquiriTexto {
    width: auto;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14%;
    font-size: 1rem;
}


/********* QUIENES SOMOS *********/
.section-quienes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.quienesPadre {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.quienesHijo {
    font-size: 3rem;
    align-items:flex-start;
    justify-content:flex-start;
    display: flex;
    color: white;
    width: 20%;
    font-family: 'Montserrat';
}

.spanQuienes {
    border: 2px solid white;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.quienesSomos {
    color: white;
    font-family: 'Montserrat';
    font-size: 2rem;
}

.orden {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 100px;
}

.quienesTexto {
    font-size: 1rem;
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    display: flex;
    width: 80%;
}

.quienesBoton {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    background-color: #f9c900;
    border: none;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    color: black;
    text-decoration: none;
}

.quienesBoton:hover {
    background-color: antiquewhite;
}

.ovni-padre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vaca {
    width: 15%;
}

@keyframes vaca {
    from {
    transform: translateY(-10px);
    }

    to {
    transform: translateY(10px);
    }
} 

.vaca {
    transition: ease-in-out;
    animation-duration: 2s;
    animation-name: vaca;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

.ovni-img {
    width: 50%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .spanAdquiri {
        padding-top: 19px;
    }

    .quienesHijo {
        justify-content: center;
    }

    .container-img {
        height: 100vh;
    }

    .orden {
        padding-top: 30px;
    }
}

 @media screen and (min-width: 481px) and (max-width: 768px) {

    .container-inicio {
        height: 100vh;
    }

    .tituloWeb {
        margin-right: 60px;
    }

    .planetita {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 60px;
    }

    .containerTitulo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .expePadreMain {
        flex-direction: column-reverse;
    }

    .astroMain {
        width: 40%;
    }

    .astronautaMain {
        padding-top: 30px;
    }

    @keyframes astroMain {
        from {
        transform: translatex(-10px);
        }
    
        to {
        transform: translatex(10px);
        }
    } 
    
    .astroMain {
        transition: ease-in;
        animation-duration: 5s;
        animation-name: astroMain;
        animation-iteration-count: infinite;
        animation-direction:alternate;
    }

    .sectio {
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .tituloExpMain {
        margin-left: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 1.5rem;
    }

    .adquiriHijoMain {
        justify-content: center;
    }

    .spanAdquiri {
        height: 9vh;
    }

    .quienesHijo {
        justify-content: center;
    }

    .orden {
        padding-left: 30px;
        gap: 2rem;
        padding-top: 0px;
        display: flex;
        align-items: flex-start;
        padding-bottom: 30px;
        padding-right: 0;

    }
} 

@media screen and (min-width: 400px) and (max-width: 480px) {
    
    .container-inicio {
        width: 100%;
        height: 100vh;
        background-position: bottom;
    }

    .expePadreMain {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .astronautaMain {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @keyframes astroMain {
        from {
        transform: translatex(-10px);
        }
    
        to {
        transform: translatex(10px);
        }
    } 
    
    .astroMain {
        transition: ease-in;
        animation-duration: 5s;
        animation-name: astroMain;
        animation-iteration-count: infinite;
        animation-direction:alternate;
    }

    .span {
        padding-top: 10px;
        padding-bottom: 9px;
        height: 6vh;
        padding-left: 3px;
        padding-right: 3px;
    }

    .spanAdquiri {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 9px;
        padding-left: 9px;
    }

    .sectio {
        margin-top: 20% !important;
        margin-bottom: 20% !important;
    }

    .quienesHijo {
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }

    .orden {
        padding-left: 57px;
        padding-top: 100px;
        padding-right: 10px;
        padding-bottom: 100px;
    }

    .containerTitulo {
        width: 100%;
        justify-content: center;
    }

    .planeta {
        width: 50%;
        margin-left: 10px;
    }

    .container-img {
        display: none;
    }

    .tituloWeb {
        font-size: 3rem;
        justify-content: center;
        line-height: 1.5;
    }

    .tituloExpMain {
        margin-left: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 1.5rem;
    }

    .adquiriHijoMain {
        font-size: 2rem;
        justify-content: center;
        line-height: 1.7;
    }

    .astroMain {
        width: 70%;
        padding-top: 10px;
    }

    .adquiriTextoMain {
        width: 87%;
        text-align: center;
    }

    .quienesPadre {
        height: auto;
    }

    .ovni-padre img {
        display: none;
    }

    .ovni-padre {
        display: none !important;
    }

    .orden {
        padding-right: 17px;
        padding-left: 17px;
        gap: 2rem;
        padding-top: 40px;
        display: flex;
        align-items: center;
    }

    .quienesSomos {
        align-items: center;
        font-size: 1.6rem;
        justify-content: center;
        display: flex;
        text-align: center;
    }

    .quienesTexto {
        text-align: center;
    }


}

@media screen and (min-width: 320px) and (max-width: 399px) {
    
    .container-inicio {
        width: 100%;
        height: 100vh;
        background-position: bottom;
    }

    .expePadreMain {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .astronautaMain {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @keyframes astroMain {
        from {
        transform: translatex(-10px);
        }
    
        to {
        transform: translatex(10px);
        }
    } 
    
    .astroMain {
        transition: ease-in;
        animation-duration: 5s;
        animation-name: astroMain;
        animation-iteration-count: infinite;
        animation-direction:alternate;
    }
    .astroMain {
        width: 70%;
        padding-top: 10px;
    }


    .span {
        padding-top: 3px;
        padding-bottom: 2px;
        height: 6vh;
        padding-left: 3px;
        padding-right: 3px;
    }

    .spanAdquiri {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 9px;
        padding-left: 9px;
    }

    .sectio {
        margin-top: 20% !important;
        margin-bottom: 20% !important;
    }

    .quienesTexto {
        text-align: center;
    }

    .quienesHijo {
        align-items: center;
        justify-content: center;
    }

    .orden {
        padding-left: 57px;
        padding-top: 100px;
        padding-right: 10px;
        padding-bottom: 100px;
        display: flex;
        align-items: center;
    }

    .containerTitulo {
        width: 100%;
        justify-content: center;
    }

    .planeta {
        width: 50%;
        margin-left: 10px;
    }

    .container-img {
        display: none;
    }

    .tituloWeb {
        font-size: 2rem;
        justify-content: center;
        line-height: 1.5;
    }

    .tituloExpMain {
        margin-left: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 1rem;
    }

    .adquiriHijoMain {
        font-size: 2rem;
        justify-content: center;
        line-height: 1.7;
    }

    .adquiriTextoMain {
        width: 87%;
        text-align: center;
    }

    .quienesHijo {
        font-size: 2rem;
    }

    .quienesPadre {
        height: auto;
    }

    .ovni-padre img {
        display: none;
    }

    .ovni-padre {
        display: none !important;
    }

    .orden {
        padding-right: 17px;
        padding-left: 17px;
        gap: 2rem;
        padding-top: 40px;
    }

    .quienesSomos {
        align-items: center;
        font-size: 1.6rem;
        justify-content: center;
        display: flex;
        text-align: center;
    }


}