
.contieneCart {
    margin-top: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 5rem;
    height: auto;
}
  
.fijoTotal {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 65px;
}

.contieneCarte {
    height: 348px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
    border: 1px solid white;
    padding-right: 0;
    flex-direction: column;
    position: relative;
}


.contieneCartHijo {
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 348px;
}

.sosten {    
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 50px;
}

.elimina-todo {
    background-color:#151414;
    color: white;
}

.sigue-comprando {
    background-color: #f9c900;
    color: black;
    font-size: 1rem;
}

.seguir {
    background: none;
    color: white;
    font-size: .8rem;
}

.contieneCartHijoBoton {
    /* width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    flex-direction: column; */

    /* width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    flex-direction: row; */

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    flex-direction: revert;
}

.contieneTodito {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
}

.productCart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background: white; */
    line-height: 1px solid #f9c900;
    /* border-bottom-width: thin; */
    margin-top: 10px;
    align-items: center;
    margin-bottom: 1rem;
}

.productoCart {
    grid-column-end: 2;
    width: 100%;
    font-weight: 500;
    color: white;
    font-family: 'Montserrat';
    font-size: 1rem;
    align-items: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-column-start: 1;
}

.botonCart {
    font-family: 'Montserrat';
    font-weight: 500;
    border: none;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    text-decoration: none;
}

.botonCart:hover {
    color: #FB106C;
}

.sigue-comprando:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.elimina-todo:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}


.borra-btn-x {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.detailCart {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    /* padding-left: 10px; */
    color: black;
    width: 100%;
    justify-content: center;
    display: flex;
}

.counter {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    grid-column-start: 3;
    grid-column-end: 4;
}

.controllers {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: auto;
    background: none;
}

.negativoProducts {
    font-family: 'Montserrat';
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;

}

.borrarProducts {
    background: none;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    padding: 0px 10px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    color: #FB106C;
}

.borrarProducts:hover {
    color: black;
}


.listado {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.listado h3 {
    font-size: 1rem;
    font-weight: 600;
}

.contieneForm {
    background-color: #151414;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tituloFormCompletar {
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    justify-content: center;
    display: flex;
    width: 100%;
}

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.textTar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #151414;
    width: 100%;
    height: auto;
    margin-top: 10rem;
    font-family: 'Montserrat';
}

.boucher {
    /* text-align: center;
    width: 80%;
    margin-bottom: 2rem; */
    text-align: center;
    width: 100%;
    color: white;
    margin-bottom: 2rem;
    justify-content: center;
    display: flex;
}




@media screen and (min-width: 400px) and (max-width: 480px) {

    .fijoTotal {
        justify-content: center;
        display: flex;
        align-items: center;
        height: 65px;
    }

    .sosten {
        padding: 50px 10px;
    }

    .contieneCart {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .counter {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .detailCart {
        font-size: 1.4rem;
        margin-top: 3rem;
    }

    .productCart {
        width: 100%;
        align-items: flex-start;
    }

    .productoCart {
        padding: 0;
        justify-content: flex-start;

        grid-column-end: 3;
        width: 100%;
        font-weight: 500;
        color: white;
        font-family: 'Montserrat';
        font-size: 1rem;
        align-items: center;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        grid-column-start: 1;
    }

    .borrarProducts {
        padding: 0;
        width: 100%;
    }

    .contieneTodito {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .borrarProducts {
        padding: 10px;
    }

    .contieneCartHijo {
        padding: 30px;
    }

    .totalDeCompraForm {
        margin-top: 2rem;
    }

    .botonCart {
        width: 50%;
    }

    .contieneCartHijoBoton {
        width: 100%;
        flex-direction: column;
        margin-top: 1rem;
        gap: 0;
        margin-bottom: 2rem;
    }

    .contieneForm {
        padding: 0;
        height: auto;
    }

    .textTar {
        margin-top: 5rem;
    }

    .tituloFormCompletar {
        font-size: 1.5rem;
        font-family: 'Montserrat';
        color: white;
    }

    .boucher {
        width: 80%;
    }

    
} 

@media screen and (min-width: 320px) and (max-width: 399px) {

    .fijoTotal {
        justify-content: center;
        display: flex;
        align-items: center;
        height: 65px;
    }

    .sosten {
        padding: 50px 10px;
    }

    .contieneCart {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .counter {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .detailCart {
        font-size: 1.4rem;
        margin-top: 3rem;
    }

    .productCart {
        width: 100%;
        align-items: flex-start;
    }

    .productoCart {
        padding: 0;
        justify-content: flex-start;

        grid-column-end: 3;
        width: 100%;
        font-weight: 500;
        color: white;
        font-family: 'Montserrat';
        font-size: 1rem;
        align-items: center;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        grid-column-start: 1;
    }

    .borrarProducts {
        padding: 0;
        width: 100%;
    }

    .contieneTodito {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .borrarProducts {
        padding: 10px;
    }

    .contieneCartHijo {
        padding: 30px;
    }

    .totalDeCompraForm {
        margin-top: 2rem;
    }

    .botonCart {
        width: 50%;
    }

    .contieneCartHijoBoton {
        width: 100%;
        flex-direction: column;
        margin-top: 1rem;
        gap: 0;
        margin-bottom: 2rem;
    }

    .contieneForm {
        padding: 0;
        height: auto;
    }

    .textTar {
        margin-top: 5rem;
    }

    .tituloFormCompletar {
        font-size: 1.5rem;
        font-family: 'Montserrat';
        color: white;
    }

    .boucher {
        width: 80%;
    }

    
} 