
.contieneCart {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    margin-top: 14rem;
    /* padding-left: 3rem; */
    padding-right: 0;

    /* height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 13%;
    padding-left: 3rem;
    padding-right: 3rem; */
    }

.contieneCartHijo {
    /* background-color: #151414;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    width: 40%;
    height: 100vh;
    box-shadow: 0 0 60px 0 rgb(0 0 0);
    display: flex;
    flex-direction: column; */

    /* background-color: #151414;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    width: 60%;
    height: auto;
    box-shadow: 0 0 60px 0 rgb(0 0 0);
    display: flex;
    flex-direction: column; */

    background-color: rgb(243 243 243 / 77%);
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    width: 100%;
    /* border-top: 1px solid white; */
    height: 100vh;
    /* border-left: 1px solid white; */
    /* box-shadow: 0 0 60px 0 rgb(0 0 0); */
    display: flex;
    flex-direction: column;
}

.sosten {    
    display: flex;
    height: auto;}

.elimina-todo {
    background-color:#151414;
    color: white;
}

.sigue-comprando {
    background-color: #f9c900;
    color: black;
}

.contieneCartHijoBoton {
    /* width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    flex-direction: column; */

    /* width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    flex-direction: row; */

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    flex-direction: revert;
}

.contieneTodito {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.productCart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background: white; */
    line-height: 1px solid #f9c900;
    /* border-bottom-width: thin; */
    margin-top: 10px;
    align-items: center;
    margin-bottom: 1rem;
}

.productoCart {
    /* width: 100%;
    padding: 10px;
    font-weight: 500;
    color: black;
    font-family: 'Montserrat';
    font-size: .9rem;
    align-items: center;
    display: flex; */
    width: 100%;
    padding: 10px 10px 5px 10px;
    font-weight: 500;
    color: black;
    font-family: 'Montserrat';
    font-size: .8rem;
    align-items: center;
    display: flex;
}


.botonCart {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    border: none;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    margin-top: 1rem;
    text-decoration: none;
}

.sigue-comprando:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.elimina-todo:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

.totalDeCompraForm {
    /* color:#f9c900;
    display: flex;
    padding: 20px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Montserrat'; */
    color: black;
    display: flex;
    padding: 0px;
    /* border: 1px solid; */
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.4rem;
    font-family: 'Montserrat';
    margin-top: 3rem;
}

.borra-btn-x {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.detailCart {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    /* padding-left: 10px; */
    color: black;
    width: 100%;
    justify-content: center;
    display: flex;
}

.counter {
    display: flex;
    flex-direction: row;
    width: 100%;
    color:#151414;
}

.controllers {
    gap: 1rem;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0px;
    width: auto;
    background: none;
}

.negativoProducts {
    font-family: 'Montserrat';
    color: black;
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2rem; */
    font-weight: 500;
    font-size: 1rem;

}

.borrarProducts {
    background: none;
    cursor: pointer;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* justify-content: center; */
    border: none;
    font-size: .8rem;
    padding: 0px 10px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    color: #FB106C;
}

.borrarProducts:hover {
    color: black;
}



.listado {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.listado h3 {
    font-size: 1rem;
    font-weight: 600;
}

.contieneForm {
    /* background-color: #151414;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    width: 30%;
    display: flex;
    height: 100vh;
    box-shadow: 0 0 60px 0 rgb(0 0 0);
    flex-direction: column;
    justify-content: center; */

    /* background-color: #151414;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 50px 50px 50px;
    width: 60%;
    display: flex;
    height: 100vh;
    box-shadow: 0px 50px 60px 0px rgb(0 0 0);
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem; */
    background-color: #151414;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 50px 50px 50px;
    width: 100%;
    display: flex;
    height: 100vh;
    /* box-shadow: 0px 50px 60px 0px rgb(0 0 0); */
    flex-direction: column;
}

.tituloFormCompletar {
    /* color: white;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: .5rem;
    margin-top: 2rem;
    justify-content: center;
    display: flex; */

    color: white;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    justify-content: center;
    display: flex;
    width: 100%;
}

.layout {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
}

.textTar {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: auto; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #151414;
    width: 100%;
}

.boucher {
    /* text-align: center;
    width: 80%;
    margin-bottom: 2rem; */
    text-align: center;
    width: 100%;
    color: white;
    margin-bottom: 2rem;
    justify-content: center;
    display: flex;
}



/* @media screen and (min-width: 481px) and (max-width: 768px) {
    .controllers {
        padding: 5px;
        width: 100%;
    }

    .counter {
        color: #FB106C;
        font-family: 'Montserrat';
    }
}


@media screen and (min-width: 400px) and (max-width: 480px) {
    .controllers {
        padding: 5px;
        width: 100%;
    }

    .counter {
        color: #FB106C;
        font-family: 'Montserrat';
    }
}


@media screen and (min-width: 320px) and (max-width: 399px) {

    .controllers {
        padding: 5px;
        width: 100%;
    }

    .sosten {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contieneCart {
        width: 100%;
        margin-top: 40%;
        padding: 0;
    }

    .contieneCartHijo {
        flex-direction: column;
    }

    .detailCart {
        font-size: 1rem;
        font-family: 'Montserrat';
        padding-left: 0;
        font-weight: 400;
        color: #f9c900;
    }

    .productCart {
        width: 100%;
        justify-content: stretch;
        flex-direction: column;
        border: 1px solid #151414;
    }

    .productoCart {
        justify-content: center;
        font-weight: 600;
    }

    .contieneCartHijoBoton {
        width: 100%;
        flex-direction: column;
    }

    .botonCart {
        width: 100%;
        margin-top: 0;
    }

    .contieneForm {
        height: auto;
    }

    .totalDeCompraForm {
        font-size: 1.3rem;
        padding: 10px;
    }

    .tituloFormCompletar {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }

    .boucher {
        width: 100%;
    }

    .rccs__card--unknown > div {
        background: linear-gradient(25deg, #403bef, #151414);
    }
} */