
.form-group {
    /* display: flex;
    color: white;
    font-size: .8rem;
    width: 100%;
    font-family: 'Montserrat';
    flex-direction: column;
    margin-top: 1rem; */

    /* display: flex;
    color: white;
    font-size: .8rem;
    width: 100%;
    font-family: 'Montserrat';
    flex-direction: column; */

    display: flex;
    color: #121212;
    font-size: .8rem;
    width: 100%;
    font-family: 'Montserrat';
    flex-direction: column;
}

.botonPago {
    width: 100%;
    display: grid;
    justify-content: center;
    /* margin-top: 5rem; */
    grid-template-columns: 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
}

.inputTar {
    /* width: auto;
    padding: 5px; */

    background: #151414;
    width: auto;
    padding: 10px;
    border-bottom: 1px solid white;
    color: #f9c900;

    border-inline-style: none;
    border-top: hidden;

    

}

.inputTar:focus {
    border: 1px solid white;
    outline: none;
}

.labelTar {
    font-family: 'Montserrat';
    font-size: .9rem;
}

.formTar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 1rem;
    padding: 0px 0px 0px 30px;
    margin-top: 2rem;

}

.card {
    width: 100%;
}

.compra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.complitoForm {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
    flex-direction: flex;
    margin-top: 10rem;
    position: absolute;
}

.errores {
    color: #fb106c;
    font-family: 'Montserrat';
    font-size: 1rem;
    padding-top: 5px;
}

.datos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 4rem;
    color: white;
    width: 60%;
    font-weight: 200;
    font-size: 1.2rem;
}

.card-body {
    padding: 86px;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    /* background: radial-gradient(black, transparent); */
    /* background: rgb(228 228 228); */
    box-shadow: 0px 0px 30px 10px rgb(0 0 0);
}

.swal-title {
    color: white;
    font-family: 'Montserrat';
}

.swal-text {
    color: white;
    font-family: 'Montserrat';
    text-align: center;
}

.swal-button {
    background-color: #f9c900;
    border: 1px solid #f9c900;
    color: black;
    width: 100%;
}

.swal-button:hover {
    background-color: white !important;
    border: 1px solid black;
}

.swal-modal {
    background-color: #151414;
}
.swal-icon--success:after, .swal-icon--success:before{
    background-color:#151414 ;
}

.swal-icon--success__hide-corners {
    background-color: #151414;
}

.swal-icon--success__line {
    background-color: #403bef;
}


.swal-overlay--show-modal {
    opacity: 1;
    background-repeat: no-repeat;
}

.swal-footer {
    text-align: center;
    margin-bottom: 13px;
}

.swal-button-container {
    width: 80%;
}

.swal-icon--success__line {
    color: #403bef;
}

.swal-icon--success__ring {
    border: 4px solid #403bef
}

.rccs__card--unknown > div {
    background: linear-gradient(228deg, #151414, #403bef);
    box-shadow: none;
}

.swal-overlay {
    background-color: #403befcc;
}

.swal-button {
    background-color:#f9c900;
    border-radius: 0;
}

.rccs {
    margin-top: 2rem !important;
}
@media screen and (min-width: 400px) and (max-width: 480px) {
    
    .card-body {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .card {
        display: flex;
        justify-content: center;
    }

    .rccs {
        margin-top: 7rem !important;
    }
    
    .formTar {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 0;
        margin-bottom: 3rem;
    }

    .datos {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 399px) {

    .card-body {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .card {
        display: flex;
        justify-content: center;
    }

    .rccs {
        margin-top: 7rem !important;
    }
    
    .formTar {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 0;
        margin-bottom: 3rem;
    }

    .datos {
        margin-top: 2rem;
    }
}