
.section-experiencias {
    height: auto;
}

.tituloExp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin-top: 10rem;
}
.expePadre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.expeHijo {
    /* margin-top: 6%; */
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
    color: white;
    width: 20%;
    position: absolute;
    font-family: 'Montserrat';
}


.expeTexto {
    width: auto;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12rem;
    font-size: 1rem;
}

.astro-padre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-top: 50%;
}

.astro {
    width: 25%;
}

.itemContenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes astro {
    from {
    transform: translateY(-10px);
    }

    to {
    transform: translateY(10px);
    }
} 

.astro {
    transition: ease-in-out;
    animation-duration: 2s;
    animation-name: vaca;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .expeHijo {
        font-size: 3rem;
        margin-top: 0;
        justify-content: center;
        width: 80%;
    }

    .tituloExp {
        margin-top: 8rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .expeTexto {
        width: 80%;
        margin-top: 8rem;
    }

    .astro-padre {
        margin-top: 80%;
    }

    .astro {
        width: 35%;
    }


}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .astro-padre {
        margin-top: 100%;
    }
}

@media screen and (min-width: 400px) and (max-width: 480px) {

    .expeHijo {
        font-size: 2rem;
        margin-top: 0;
        justify-content: center;
        width: 80%;
    }

    .tituloExp {
        margin-top: 8rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .expeTexto {
        width: 80%;
        margin-top: 8rem;
    }

    .astro-padre {
        margin-top: 138%;
    }

    .astro {
        width: 35%;
    }

}

@media screen and (min-width: 320px) and (max-width: 399px) {

    .expeHijo {
        font-size: 2rem;
        margin-top: 0;
        justify-content: center;
        width: 80%;
    }

    .tituloExp {
        margin-top: 8rem;
    }

    .expeTexto {
        width: 80%;
        margin-top: 8rem;
    }

    .astro-padre {
        margin-top: 138%;
    }

    .astro {
        width: 35%;
    }
}