.marciano {
    border: 2px solid white;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50vh;
}

.marciano:hover {
    /* background-color: #fb106c; */
    background-color: #403bef;
    border: 2px solid #403bef;
}

.marciano-pic {
    width: 70%;
    padding: 20px;
}

.marciano-info {
    display: flex;
    width: 100%;
    color: white;
    height: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.data-marciano {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 4rem;
    color: white;
    text-decoration: none;
}

.titulo,
.precio {
    padding-bottom: 10px;
    color: white;
}


.boton-preC {
    margin-top: 15px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    background-color: #f9c900;
    border: none;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}

.boton-preC:hover {
    background-color: white;
}


.Toastify__toast-container {
    display: none;
}





@media screen and (min-width: 760px) and (max-width: 1024px) {
    .marciano {
        background-color: #403bef;
        width: 100%;
        display: grid;
        align-items: center;
        height: auto;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }

    .marciano-info {
        padding: 0px;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .marciano-pic {
        width: 40%;
        padding: 20px 20px 7px 20px;
    }

    .data-marciano {
        padding: 0px 10px 10px 10px;
        width: auto;
    }

    .botonCompra {
        color: black;
        font-family: 'Montserrat';
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .marciano {
        background-color: #403bef;
        width: 100%;
        display: grid;
        align-items: center;
        height: auto;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }

    .marciano-info {
        padding: 0px;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .marciano-pic {
        width: 40%;
        padding: 20px 20px 7px 20px;
    }

    .data-marciano {
        padding: 0px 10px 10px 10px;
        width: auto;
    }

    .botonCompra {
        color: black;
        font-family: 'Montserrat';
    }

    .Toastify__toast-container {
        display:inline;
        --toastify-color-progress-light: #403bef;
    }

    
}

@media screen and (min-width: 400px) and (max-width: 480px) {
    .marciano {
        background-color: #403bef;
        width: 100%;
        display: grid;
        align-items: center;
        height: auto;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }

    .marciano-info {
        padding: 0px;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .marciano-pic {
        width: 40%;
        padding: 20px 20px 7px 20px;
    }

    .data-marciano {
        padding: 0px 10px 10px 10px;
        width: auto;
    }

    .botonCompra {
        color: black;
        font-family: 'Montserrat';
    }
}

@media screen and (min-width: 320px) and (max-width: 399px) {
    
    .marciano {
        width: 100%;
        display: grid;
        align-items: center;
        height: auto;
        grid-template-rows: 1fr;
        justify-content: center;
        border: 2px solid white;
    }

    .marciano-info {
        padding: 0px;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .marciano-pic {
        width: 30%;
        padding: 20px 20px 7px 20px;
    }

    .data-marciano {
        padding: 10px 20px 20px 20px;
        width: auto;
    }

    .detalle {
        line-height: 1.4;
    }

    .marciano:hover {
        background: none;
        border: 2px solid white;
    }



}