.navbar {
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-top: 30px;
    position: absolute;
}

.lista {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 4rem;
}

.lista a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
}

.lista a:hover {
    color: #fb106c;
}

/* LOGO */

.container-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10%;
}

.logo {
    width: 100%;
}

.active {
    color: #fb106c;
}

.inactive {
    color: white;
}


/* RESPONSIVE */

@media screen and (min-width: 320px) and (max-width: 480px) {

    .lista {
        display: none;
    }

    .container-logo {
        width: 40%;
    }

    .carro {
        display: none;
    }

    .navbar {
        justify-content: flex-start;
    }

    .containerTitulo {
        width: 80%;
    }

    .tituloWeb {
        font-size: 2rem;
    }
}



