.navbar {
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.lista {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 4rem;
}

.lista a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
}

.lista a:hover {
    color: #fb106c;
}

/* LOGO */

.container-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10%;
}

.logo {
    width: 100%;
}

.active {
    color: #f9c900;
}

.inactive {
    color: white;
}