.padreCarrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

.padreImgCarrito {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 0.5rem;
}

.imgCarrito {
    width: 30px;
    height: 30px;
}

.padreImgCarrito:hover {
    filter: invert(32%) sepia(93%) saturate(7500%) hue-rotate(328deg) brightness(100%) contrast(98%);
}

.carritoTotal {
    color: white;
    padding-right: 1rem;
    padding-left: 2rem;
}

.estilo-numerito {
    text-decoration: none;
    font-family: 'Montserrat';
}

