.footer {
    background-color: #151414;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;

    box-shadow: 0 0 60px 0 rgb(0 0 0);
}

.container-footer {
    display: flex;
    padding-top: 2rem;
    padding-left: 6rem;
    padding-bottom: 2rem;
    flex-direction: column;
    padding-right: 6rem;
}

.container-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer {
    width: 15%;
}

.list {
    font-family: 'Montserrat';
    list-style: none;
    display: flex;
    gap: 3rem;
    width: 100%;
}

.enlaces-cuentas {
    color: white;
    text-decoration: none;
}

.enlaces-cuentas:hover {
    color: #fb106c;
}




@media screen and (min-width: 769px) and (max-width: 1024px) {

    .container-list{
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
    }

    .logo-footer {
        width: 30%;
    }

    .list {
        gap: 2rem;
        font-size: .8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container-footer {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container-list{
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
    }

    .logo-footer {
        width: 30%;
    }

    .list {
        gap: 2rem;
        font-size: .8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container-footer {
        padding: 2rem 2rem 2rem 2rem;
    }
}


@media screen and (min-width: 320px) and (max-width: 480px) {

    .list {
        flex-direction: column;
        font-size: .8rem;
        gap: .5rem;
    }

    .logo-footer {
        width: 50%;
    }

    .logo-footer {
        width: 70%;
    }

    .container-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .container-footer {
        width: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}