.masMenos {
    cursor: pointer;
    border: none;
    width: 40px;
    height: auto;
    font-size: 1.5rem;
    background: none;
}

.masMenos:hover {
    color: #fb106c;
}

.spanCount {
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: 500;
    width: 100%;
    display: flex
}


@media screen and (min-width: 400px) and (max-width: 480px){
    .masMenos {
        color: black;
    }
}