.masMenos {
    cursor: pointer;
    border: none;
    width: 30px;
    height: 4vh;
    font-size: 1.2rem;
    background: none;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
}

.masMenos:hover {
    background-color: #fb106c;
    border: none;
}

.spanCount {
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: 500;
    width: 100%;
    display: flex
}


@media screen and (min-width: 400px) and (max-width: 480px){
    .masMenos {
        color: black;
    }
}