.masMenos {
    cursor: pointer;
    background-color: white;
    border: none;
    width: 40px;
    height: auto;
    font-size: 1.5rem;
}

.spanCount {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 500;
    width: 100%;
    display: flex
}


@media screen and (min-width: 400px) and (max-width: 480px){
    .masMenos {
        color: black;
    }
}