.itemList {

    padding: 50px;
    background: #000036;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: auto;
    gap: 3rem;
    width: auto;
    margin: 5%;
    box-shadow: 0 0 60px 0 rgb(0 0 0);


}